<template>
  <q-page>
    <q-jumbotron dark :img-src="background">
      <q-toolbar
        color="transparent"
        class="fixed-top justify-end"
      >
        <q-btn
          flat
          icon="fab fa-gitlab"
          @click="onClickBtnCode"
        />
        <q-btn
          flat
          label="Registrarse"
        />
        <q-btn
          flat
          label="Iniciar sesión"
        />
      </q-toolbar>
      <div class="q-display-3 mobile-only">
        Reserva alojamientos y experiencias especiales.
      </div>
      <div class="row">
        <q-card class="bg-white shadow-6 col-xs-12 col-lg-4 q-mt-lg">
          <q-card-title class="text-dark">
            Reserva alojamientos y experiencias especiales.
          </q-card-title>
          <q-card-main>
            <q-input
              v-model="form.where"
              inverted-light
              class="bg-white text-dark"
              stack-label="DÓNDE"
              placeholder="Cualquier lugar"
            />
            <div class="row gutter-xs">
              <div class="col-xs-12 col-md-6 col-lg-6">
                <q-datetime
                  v-model="form.checkin"
                  inverted-light
                  stack-label="LLEGADA"
                  placeholder="dd/mm/aaaa"
                  class="bg-white text-dark q-my-lg"
                  type="date"
                />
              </div>
              <div class="col-xs-12 col-md-6 col-lg-6">
                <q-datetime
                  v-model="form.checkout"
                  inverted-light
                  stack-label="SALIDA"
                  placeholder="dd/mm/aaaa"
                  class="bg-white text-dark q-my-lg"
                  type="date"
                />
              </div>
            </div>
            <div class="row justify-end">
              <q-btn
                label="Buscar"
                color="red"
                class="q-px-lg"
                @click="$router.push('/search')"
              />
            </div>
          </q-card-main>
        </q-card>
      </div>
    </q-jumbotron>
  </q-page>
</template>

<style>
</style>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      urlCode: 'https://gitlab.com/melisa-opensource/frontend-qairbnb',
      background: 'https://press.airbnb.com/wp-content/uploads/sites/4/2018/03/accessible-header-wide-min.jpg?fit=1800%2C771',
      form: {
        where: '',
        checkin: ''
      }
    }
  },
  methods: {
    onClickBtnCode () {
      window.open(this.urlCode, '_blank')
    }
  }
}
</script>

<style lang="stylus" scoped>
.title
  font-size 30px
  font-weight 700
.q-input
  .q-input-target
    height 45px
.q-display-3
  font-size 30px
  margin-top 168px
  font-weight 700
</style>
