<template>
  <q-page
    padding
  >
    <h6 class="q-mt-xs q-mb-none">Descubre QAirbnb</h6>
    <q-progress
      :indeterminate="loading"
      v-if="loading"
      class="q-my-md"
    />
    <carousel :perPage="3" class="q-pa-lg">
      <slide v-for="card in getHouses" :key="card.id">
        <q-card class="q-ma-lg">
          <q-card-media>
            <img :src="card.image" class="image">
            <q-icon
              name="far fa-heart"
              class="cursor-pointer absolute-top-right q-mt-md q-mr-md shadow-6 round-borders q-pa-xs"
              size="20px"
              color="white"
            />
          </q-card-media>
          <q-card-title>
            {{ card.title }}
            <q-rating
              v-model="card.rating"
              :max="3"
            />
          </q-card-title>
          <q-card-main>
            {{ card.description }}
          </q-card-main>
        </q-card>
      </slide>
    </carousel>
  </q-page>
</template>

<style>
</style>

<script>
import { Carousel, Slide } from 'vue-carousel'
import Store from 'src/store/houses'

export default {
  name: 'PageSearch',
  components: {
    Carousel,
    Slide
  },
  data () {
    return {
      loading: true
    }
  },
  created () {
    this.$store.registerModule('houses', Store)
    this.$store.dispatch('houses/getAll').then(this.onSuccessGet)
  },
  computed: {
    getHouses () {
      return this.$store.getters['houses/getRecords']
    }
  },
  methods: {
    onSuccessGet () {
      this.loading = false
    }
  }
}
</script>

<style scoped lang="stylus">
.image
  min-height 160px
</style>
