<template>
  <q-layout
    view="hHh lpr lFf"
  >
    <q-layout-header>
      <q-toolbar
        color="white"
      >
        <img
          class="logo cursor-pointer"
          :src="urlLogo"
          @click="$router.push('/')"
        />
        <q-search
          v-model="form.search"
          inverted
          class="bg-white text-dark q-my-md full-width"
          placeholder="Prueba <<Manzanillo>>"
          autofocus
        >
          <q-autocomplete
            :min-characters="3"
          />
        </q-search>
        <div class="row justify-end full-width">
          <q-btn
            color="dark"
            label="Iniciar sesión"
            flat
            class="text-gray"
          />
        </div>
      </q-toolbar>
    </q-layout-header>
    <q-layout-drawer
      v-model="leftDrawerOpen"
      :overlay="false"
      content-class="q-pa-md"
      side="left"
      behavior="desktop"
    >
      <q-datetime
        v-model="form.checkout"
        inverted-light
        stack-label="SALIDA"
        placeholder="dd/mm/aaaa"
        class="bg-white text-dark q-my-lg"
        type="date"
      />
      <q-datetime
        v-model="form.checkin"
        inverted-light
        stack-label="LLEGADA"
        placeholder="dd/mm/aaaa"
        class="bg-white text-dark q-my-lg"
        type="date"
      />
    </q-layout-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'SearchLayout',
  data () {
    return {
      urlLogo: 'https://images-na.ssl-images-amazon.com/images/I/51EUXwYJ34L.png',
      leftDrawerOpen: true,
      form: {
        search: ''
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.logo
  width 34px
  margin-right 20px
</style>
